label {
    font-size: 1.2rem;

}

#todo-display {
    display: flex;
    flex-direction: column;
    
}
.list-item {
    margin: 4px;
}

input[type=checkbox]:checked + label {
    color: grey;
    text-decoration: line-through;
}